<template>
<div>
  <v-app-bar
      class="app-bar"
      fixed
      flat
      depressed
      light
      height="100px"
    >
    <v-btn class="primary--text" @click="drawer = true" icon><v-icon>fa-bars</v-icon></v-btn>
      <v-spacer></v-spacer>
      <v-toolbar-title><v-img contain height="160px" src="https://wijze-katers.s3.eu-west-3.amazonaws.com/De_Wijze_Kater_Logo_2_bf693f6af0.png?3054631.3150000004"></v-img></v-toolbar-title>
      <v-spacer></v-spacer>
     <v-btn d-flex column text small class="snipcart-checkout header-cart">
          <v-icon dark class="primary--text">fa-shopping-cart</v-icon>
          <!-- <span class="snipcart-items-count"></span> -->
      </v-btn>
    </v-app-bar>

    <v-navigation-drawer
      v-model="drawer"
      absolute
      temporary
    >
      <v-list
        nav
        dense
      >
        <v-list-item-group
          active-class="deep-purple--text text--accent-4"
        >
          <v-list-item>
            <v-list-item-title>Home</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>Account</v-list-item-title>
          </v-list-item>

        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
</div>
</template>
<script>
export default {
  data: () => ({
      drawer: false,
    }),
}
</script>
<style lang="scss">
.app-bar{
  background: transparent !important;
}
.header-cart{
  display: flex !important;
  flex-direction: column !important;
}
</style>
