// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

h1 {
  font-size: 24px;
}

.row{
  margin: 0!important;
}

p {
  font-size: 14px !important;
  line-height: 24px !important;
}
