<template>
  <v-app light>
    <NavBarMobile />
    <!-- <v-layout row absolute>
      <v-flex col="4">
        <v-btn text small class="snipcart-checkout header-cart">
          <v-icon dark>mdi-cart</v-icon>
          <span class="snipcart-items-count"></span>
          <span class="snipcart-total-price ml-3 font-semibold text-sm text-indigo-500"></span>
        </v-btn>
      </v-flex>
      <v-flex col="4">
        <v-img></v-img>
      </v-flex>
      <v-flex col="4">
        Drawer
      </v-flex>
    </v-layout> -->

    <nuxt class="mb-10"></nuxt>
    <div hidden id="snipcart" data-api-key="OGZkYmEyNDktMDhiYy00NWQwLTgyY2QtODM2N2Y3MmYyMDEwNjM3MzM0NTA1MTEzNTk0MzE4" data-currency="eur"></div>
  </v-app>
</template>

<script>
import NavBarMobile from '../components/NavBarMobile'

export default {
  components: {
    NavBarMobile
  }
}
</script>
<style lang="scss" scoped>
.header-cart {
    position: absolute;
    z-index: 9;
}
body
  {
  scroll-behavior: smooth !important;
}

</style>
