<template>

<div>
  <div v-if="$apollo.loading"></div>
    <v-container v-else pa-0 col="12">
    <v-flex row>
      <v-img class="d-inline-flex px-2 header-home" gradient="to bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.7)" light :src="home.header.bg[0].url">
        <v-row align="center" class="lightbox dark--text px-2 fill-height">
          <v-col  class="text-center align-self-end mt-10" cols="12">
            <h1 class="mb-4 pt-6 font-weight-bold primary--text">{{home.header.title}}</h1>
            <p class="font-weight-light body-2">{{home.header.description}}</p>
            <v-btn rounded to="#products" color="primary" mt-6 depressed dark>{{home.header.button}}</v-btn>
          </v-col>
          <v-col class="align-self-end pa-0 cat-bg">
              <v-img contain  max-height="220" class="cat" :src="require('~/assets/img/cat.png')"></v-img>
          </v-col>
        </v-row>
      </v-img>
      
    </v-flex>
      <v-layout col="12" class="horizontal-scroll" id="products">
          <v-flex xs8 sm4 md3 lg3 ma-2 flat v-for="p in home.products" :key="p.id" class="mb-4 scroll-product">
            <!-- <nuxt-link :to="`/products/${p.id}`"> -->
              <v-img
                :src="p.image.url"
                class="white--text align-end rounded-edit"
                gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.1)"
                height="200px"
              >
              </v-img>
              <v-flex pt-3>
                <p class="primary--text font-weight-black">{{p.title}}</p>
                <p class="secondary--text font-weight-bold">{{p.price}}</p>
              </v-flex>

            <!-- </nuxt-link> -->

                      <v-btn
                        class="snipcart-add-item"
                        :data-item-id="p.id"
                        :data-item-url="'https://admin.wijzekaters.nl/products/' + p.id"
                        :data-item-price="p.price"
                        :data-item-description="p.description"
                        :data-item-image="p.image.url"
                        :data-item-name="p.title"
                        :data-item-max-quantity="1"
                        rounded color="secondary" depressed dark
                        style="margin-bottom: -18px;"
                        >
                          Bestel nu
                    </v-btn>
          </v-flex>
      </v-layout>
      <v-layout row pa-6>
        <h2>{{home.body.title}}</h2>
        <p>{{home.body.text}}</p>
      </v-layout>
    </v-container>


</div>

</template>

<script>
import homeQuery from '../apollo/queries/home/home'
export default {
  data(){
    return {
      home: []
    }
  },
  apollo: {
    home: {
      prefetch: true,
      query: homeQuery
    }
  }
}
</script>
<style lang="scss">



.scroll-product {
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #A3AC88;

    .v-image{
      border-radius: 10px 10px 0 0;
    }

  }

@media only screen and (max-width: 600px) {

.horizontal-scroll{
  overflow-x: auto;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.cat{
  margin-bottom: -50px;
}

.scroll-product {
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #A3AC88;

    .v-image{
      border-radius: 10px 10px 0 0;
    }

  }
}



</style>
